<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <if condition='property("logging").equalsIgnoreCase("trace")'>
        <then>
          <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n</pattern>
        </then>
        <else>
          <pattern>%date{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
        </else>
      </if>
    </encoder>
  </appender>

  <root level="${logging:-INFO}">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
